[Unit]
Description=Oracle Cloud Instance Creator
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/oracle-cloud-auto-creator
Environment="PORT=5050"
Environment="FLASK_DEBUG=false"
Environment="SESSION_SECRET=change-me"
ExecStart=/home/ubuntu/oracle-cloud-auto-creator/venv/bin/gunicorn --workers 1 --threads 8 --bind 0.0.0.0:5050 app:app
Restart=always

[Install]
WantedBy=multi-user.target
